*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --main-bg: #FFFFFF;
  --secondary-bg: #FAF9FB;
  --tertiary-bg: #DCDDDD;
  --fourth-bg: #bbbcbc;
  --main-foreground: #000000;
  --hover-bg-color: #DCDDDD;
  --active-color: #C4554D;
  --secondary-color: #5D1715;
  --tertiary-color: rgba(215, 38, 21, 0.68);
  --active-bg-color: rgba(243, 136, 118, 0.07);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #1E1E1E;
    --secondary-bg: #252526;
    --tertiary-bg: #3C3C3C;
    --fourth-bg: #555555;
    --main-foreground: #FFFFFF;
    --hover-bg-color: #3C3C3C;
    --active-color: #C4554D;
    --secondary-color: #D19A66;
    --tertiary-color: rgba(215, 38, 21, 0.68);
    --active-bg-color: rgba(243, 136, 118, 0.07);
  }

  button > img, a > img {
    filter: invert(1);
  }

  .main-button {
    color: white;
  }

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


body {
  margin: 0;
  height: 100%;
  background-color: var(--secondary-bg);
  color: var(--main-foreground)
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-foreground);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  padding: 0.5rem 1rem;
  text-align: start;
  border-radius: 0.25rem;
  border: 2px solid var(--main-bg);
  transition: box-shadow 0.1s ease-in-out, border-color 0.1s ease-in-out; 
  outline: none;
  background-color: var(--secondary-bg);
  color: var(--main-foreground);
  box-shadow: 0 0 0 1px var(--tertiary-bg); 
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.5;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--active-color);
}


/* GENERIC CLASSES */

.w-full {
  width: 100%;
}

.px-1 {
  padding: 0rem 1rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mr-1 {
  margin-right: 1rem;
}

.w-full {
  width: 100% !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.gap-025 {
  gap: 0.25rem;
}

.gap-05 {
  gap: 0.5rem
}

.gap-1 {
  gap: 1rem
}

.gap-2 {
  gap: 1rem
}

.border-none {
  border: none;
  box-shadow: none;
}

.font-bold {
  font-weight: 600;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.mobile-hidden {
  display: flex !important;
}

.hidden {
  display: none !important;
}

.desktop-hidden {
  display: none !important;
}

.relative {
  position: relative;
}

@media (max-width: 1300px) {
  .mobile-hidden {
    display: none !important;
  }
  .desktop-hidden {
    display: flex !important;
  }
}


/* NAV COMPONENTS */

.logo {
  color: var(--active-color);
  font-weight: 700;
}

.logo img {
  width: 4rem;
  height: 4rem;
  filter: invert(56%) sepia(46%) saturate(5926%) hue-rotate(332deg) brightness(84%) contrast(78%);
}

.sidebar {
  width: 15%;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  border-right: 1px solid var(--hover-bg-color);
  padding: 1rem;  
}

.sidebar-filler {
  min-width: 15%;
  width: 10%;
}

nav {
  width: 100%;
}

nav a {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}

nav a:hover:not(.active) {
  background-color: var(--hover-bg-color);
}

.active {
  color: var(--active-color);
  background-color: var(--active-bg-color)
}

.active img {
  filter: invert(56%) sepia(46%) saturate(5926%) hue-rotate(332deg) brightness(84%) contrast(78%);
}

nav a img {
  width: 1.2rem;
  height: 1.2rem;
}

.logout-section {
  width: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
}

.user-logo {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--active-bg-color);
  color: var(--active-color);
}

.button {
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-button {
  border: none;
  background-color: var(--active-color);
}

.muted-button {
  border: 1px solid var(--hover-bg-color);
  background-color: var(--active-bg-color);
  color: var(--tertiary-color);
}

.main-button:hover {
  background-color: var(--tertiary-color);
}

.muted-button:hover {
  background-color: var(--hover-bg-color);
}

.main-button:active {
  background-color: var(--secondary-color);
}

.muted-button:active {
  background-color: var(--fourth-bg);
}

.dropdown-menu {
  position: absolute;
  top: 2.5rem;           
  right: 1rem;
  width: fit-content;        
  background-color: var(--main-bg);
  border: 1px solid var(--hover-bg-color); 
  border-radius: 0.5rem;     
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
  z-index: 50;
}

.dropdown-item {
  width: 100%;
  border: none;
  border-radius: none;
  background-color: inherit;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  color: var(--main-foreground);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--hover-bg-color);
}

.dropdown-item:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ghost-button {
  border: none;
  background-color: inherit;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--main-foreground);
}

.ghost-button:hover {
  background-color: var(--secondary-bg);
}

.ghost-button:active {
  background-color: var(--tertiary-bg);
}


.ghost-button-icon {
  border: none;
  background-color: inherit;
  padding: 0.5rem 0.5rem;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ghost-button-icon:hover {
  background-color: var(--secondary-bg);
}

.ghost-button-icon:active {
  background-color: var(--tertiary-bg);
}

/* TEMPLATE PAGE! */

#workoutForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

#exerciseContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#exerciseContainer h3 {
  margin: 1rem 0rem;
}

#exerciseContainer > li {
  border: 1px solid var(--tertiary-bg);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  background-color: var(--main-bg);
}

#exerciseContainer input {
  text-align: center;
}

.template-input-grid {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.template-input-grid > ul {
  display: grid;
  grid-template-columns: 15% 20% 25% 25% 15%;
}

.template-input-grid > form > ul {
  display: grid;
  grid-template-columns: 15% 20% 25% 25% 15%;
}

.template-view-grid > ul {
  display: grid;
  grid-template-columns: 20% 15% 32.5% 32.5%;
}

.template-input-grid ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
}

.template-input-grid ul:first-child {
  font-weight: 600;
  padding: 0.25rem 0rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.template-input-grid ul li input {
  box-sizing: border-box;
  max-width: 100%;
}

.exercises-drop-down {
  position: relative;
  width: 400px;
}

.exercises-drop-down input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  text-align: left !important;
  border: 1px solid var(--hover-bg-color);
  border-radius: 0.5rem;

}

.exercises-drop-down-response {
  position: absolute;
  z-index: 50;
  width: 100%;
  display: block;
  background-color: var(--main-bg);
  border: 1px solid var(--hover-bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-top: 1rem;
  max-height: 200px;
  overflow-y: auto;
}

.exercise-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.exercise-preview img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.exercise-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem 1rem;
  min-height: 2rem;
  cursor: pointer;
}

.exercise-dropdown-item img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.exercise-dropdown-item:hover {
  background-color: var(--hover-bg-color);
}

.toast {
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  max-width: 300px;
  background-color: #333;
  color: white;
  padding: 15px 30px 15px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.toast-hidden {
  transform: translateX(100%);
  opacity: 0;
}

.toast-visible {
  transform: translateX(0);
  opacity: 1;
}

.toast-success {
  background-color: #22c55e; 
}

.toast-error {
  background-color: #ef4444; 
}

.toast-close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border: none;
  background-color: inherit;
  padding: 0.5rem 0.5rem;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.routines-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.routines-list > li {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  border: 1px solid var(--hover-bg-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.routines-list > li > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.routine-name:hover {
  text-decoration: underline;
}

.routine-description-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.separator {
    height: 1px;
    background-color: var(--hover-bg-color);
    width: 100%;
    border: none;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

/* MEDIA BREAK POINTS! */

@media (max-width: 1300px) {
  .sidebar {
    width: 25%;
  }
  .sidebar-filler {
    width: 25%;
    min-width: 25%;
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 0;
    height: 0%;
  }

  .sidebar-filler {
    display: none;
  }

  .logout-section {
    display: none;
  }
  
  nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: auto;
      padding: 0.25rem 0rem;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      background: var(--secondary-bg);
  }

  nav a:first-child {
    display: none;
  }

  nav a {
      flex-direction: column;
      gap: 0.25rem;
      width: auto;
      padding: 0.25rem 1rem;
      font-size: 0.8rem;
  }

  #workoutForm {
    padding: 0.5rem 0.5rem;
  }

  .exercises-drop-down {
    padding: 1rem 1rem;
  }
  
  .exercises-drop-down input, .exercises-drop-down-response {
    width: 70%;
    max-width: 70%;
  }

  #exerciseContainer > li {
    padding: 0.25rem;
  }

  .exercise-preview {
    padding: 1rem 1rem;
  }

  .toast {
    max-width: 50%;
    position: fixed;
    max-height: fit-content;
    top: 1rem; 
    left: 50%; 
    transform: translateX(-50%) translateY(-100%); 
    max-width: 50%;
    width: 50%;
  }

  .toast-hidden {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  
  .toast-visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}